.row {
    display: flex;
    justify-content: space-between; /* Espacio entre columnas */
}

.col {
    flex: 1; /* Cada columna toma un espacio igual */
    margin: 5px; /* Coloca un margen entre las columnas */
    background-color: #4885ad; /* Solo para la visualización de las columnas */
    text-align: center; /* Logra centrar el texto de la mayoria de "COLUMNAS"" */
    padding: 20px; /* Añade espacio interno */
    box-sizing: border-box; /* Para asegurar que el padding no afecte el ancho total */
    color: white; /* Color blanco para el texto */
}

.col-2 {
    flex: 2; /* Ocupa dos veces el espacio de una columna normal */
    margin: 5px;    
    background-color: #4885ad;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}
/*flex: 2; hace que la columna ocupe dos veces el espacio de una columna normal (en proporción 1/3 y 2/3).*/

.col-3 {
    flex: 3; /* Ocupa tres veces el espacio de una columna normal */
    margin: 5px;
    background-color: #4885ad;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}
